.container {
    width: 52rem;

    padding: 5rem 12rem 0 3.5rem;

    background-color: $color-white-opacity-2;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);



    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-left: $color-white-opacity-2 5px solid;
        backdrop-filter: blur(50px);
        z-index: -1;
        pointer-events: none;
    }

    &__title {
        margin: 4rem 0 5rem 0;

        color: #fff;
        font-size: 1.8rem;
        font-weight: 400;
    }
}