$color-green-1: rgb(54, 215, 183);
$color-blue-classic: #4a90e2;
$color-light-blue-1: #eff4f8;
$color-light-blue-2: #f9fafb;
$color-dark-blue-1: #8d96a5;
$color-dark-gray-1: #ccccccb9;
$color-dark-gray-2: #223c501a;
$color-light-gray-1: #e0e0e0;