$color-light-blue-1: #eff4f8;
$color-light-blue-2: #f9fafb;
$color-dark-blue-1: #8d96a5;
$color-dark-gray-1: #223c501a;
$color-dark-gray-2: #333;
$color-light-gray-1: #e0e0e0;
$color-light-gray-2: #ccccccb9;
$color-black-1: #212121;
$color-yellow-1: #fff3cd;
$color-yellow-2: #ffeeba;
$color-yellow-3: #856404;