.container {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    padding-bottom: 4rem;

    border-bottom: 1px solid $color-dark-gray;

    &__text {
        font-size: 1.8rem;
    }

    &__block-layout {
        display: flex;
        justify-content: space-between;
        gap: 2.4rem;
    }

    &__description {
        font-size: 2rem;
        color: #fff;
        text-transform: capitalize;
    }

    &__max-temp-label,
    &__min-temp-label,
    &__avg-wind-label {
        color: $color-white-opacity-7;
    }

    &__max-temp-value,
    &__min-temp-value,
    &__avg-wind-value {
        color: #fff;
    }

    &__max-temp-value {
        &::after {
            content: '';
            display: inline-block;
            width: 1.4rem;
            height: 2.6rem;

            background-image: url("icons/maxTemperature.svg");
            position: absolute;

            transform: translate(1.6rem, -4px);

        }
    }

    &__min-temp-value {
        &::after {
            content: '';
            display: inline-block;
            width: 1.4rem;
            height: 2.6rem;

            background-image: url("icons/minTemperature.svg");
            position: absolute;

            transform: translate(1.6rem, -4px);

        }
    }

    &__avg-wind-value {
        &::after {
            content: '';
            display: inline-block;
            width: 3.2rem;
            height: 3.2rem;

            background-image: url("icons/wind.svg");
            position: absolute;

            transform: translate(1.6rem, -4px);

        }
    }
}