.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


    background-color: $color-light-blue-1;


    &--loading {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__content {
        overflow: hidden;
        background-color: #fff;
        width: 60rem;
        height: 63rem;

        border-radius: 8px;

        display: flex;

        box-shadow: 2px 0px 14px 3px $color-dark-gray-1;

        position: relative;

    }

}